@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
	font-family: inherit;
}

body {
	max-width: 60em;
	margin: 1em auto;
	padding: 1em;
	font: 100%/1.5 Inter, Helvetica Neue, -apple-system, sans-serif;
}


@media (max-width: 600px) {
	body {
		font-size: 90%;
	}
}

a {
	color: hsl(220 40% 50%);
}

header {
	margin: 1em 0;
}

@media (min-width: 600px) {
	header {
		display: grid;
		grid-template-columns: 1fr auto;
	}
}

header > .button {
	display: block;
	margin: auto .1em;
	border-radius: .3rem;
	text-decoration: none;
	font-size: 150%;
}

h1 {
	position: relative;
	font-size: 400%;
	margin: 0;
}

	h1 [property=repo] {
		display: block;
		font-size: 50%;
		letter-spacing: -.02em;
	}

		h1 [property=repo]:not(:hover) {
			text-decoration: none;
			color: inherit;
		}

	h1::before {
		content: url(favicon.svg);
		position: absolute;
		top: 0;
		right: 100%;
		width: 1.1em;
		height: 1.1em;
	}

h1, h2, h3 {
	letter-spacing: -.04em;
	line-height: 1;
}

button:not(.mv-ui),
.button {
	background: linear-gradient(hsla(0,0%,100%,.5), transparent) hsl(220, 20%, 70%) border-box;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.5), 0 1px 2px 0 rgba(0,0,0,.1);
	text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
	font-weight: bold;
	cursor: pointer;
	padding: .3em .5em;
	box-sizing: border-box;
	color: black;
}

	button:not(.mv-ui):hover,
	button:not(.mv-ui):active,
	.button:hover,
	.button:active,
	button:not(.mv-ui).pressed {
		background: hsl(210, 64%, 51%);
		color: white;
		text-shadow: 0 -1px 1px #2361a4
	}

	button:not(.mv-ui):active,
	.button:active,
	button:not(.mv-ui).pressed {
		box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	}

[property=issues] {
	display: flex;
}

[property=issues] + [property=issues] {
	margin-top: 3em;
}

.votes {
	display: flex;
	flex-flow: column;
	min-width: 6em;
	margin-right: 1em;
}

	.votes > * {
		border-radius: .3rem;
	}

	.vote-count {
		padding: .5em;
		border: 1px solid hsla(0,0%,0%,.2);
		background: hsl(220, 60%, 99%);
		box-shadow: rgba(0,0,0,.1) 0 1px 1px;
		text-align: center;
	}

		[property="votes"] {
			display: block;
			font-size: 250%;
			line-height: 1;
			font-weight: bold;
		}

	.votes button {
		width: 100%;
		margin-top: .3em;
		font-size: 80%;
	}

	.votes button.mv-empty:not([mv-mode=edit]) {
		display: block;
	}

[property=issues] .content {
	flex: 1;
}

	.content > a:not(:hover) {
		text-decoration: none;
	}

	.content h2 {
		margin-top: 0;
	}

[property=issues] footer {
	font-size: 80%;
	color: rgba(0,0,0,.5);
}

body > footer {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid rgb(0 0 0 / .1);
}

[property=body] img,
[property=body] video {
	max-width: 100%;
}

#vote-stats {
	margin: 1em 0;
	padding: .3em;
	text-align: center;
	background:  hsl(220 40% 95%);
}
